<mat-toolbar class="headbar" color="primary">
    <div class="title">
        <a mat-button routerLink="/home">
            <p id="webname">M<span>Baka</span></p>
            <p id="fullname">Marsel Bakashov</p>
        </a>
    </div>
    <div class="routes">
        <a mat-button routerLink="/about">About</a>
        <a mat-button routerLink="/skills">Skills</a>
        <a mat-button routerLink="/projects">Projects</a>
        <a mat-button routerLink="/contact">Contact</a>
    </div>

    <app-logo></app-logo>
</mat-toolbar>
