<app-headbar></app-headbar>
<div class="presentation">
    <div id="personal-info">
        <div class="main-page-container">
            <main class="container">
                <p id="hello">Hello 👋, I'm</p>
                <section class="animation">
                    <div class="first"><div>Marsel Bakashov</div></div>
                    <div class="second"><div>Software Engineering Student</div></div>
                    <div class="third"><div>Web Developer</div></div>
                </section>
            </main>

            <div class="main-page-content">
                <div class="main-page-content__text">
                    <p>
                        I am a 3rd year student at Polytechnique Montréal, pursuing a bachelor degree in
                        <span class="light-effect">Software Engineering</span>. I am passionate about software development and I am always looking for
                        new opportunities to learn and grow as a developer.
                    </p>
                    <p>
                        I am currently looking for a <span class="light-effect">4-month internship for fall 2023 </span>. If you are interested in
                        hiring me, please contact me :)
                    </p>
                </div>
            </div>
        </div>
        <div class="main-page-content__image">
            <img src="../../../assets/images/me.jpg" alt="Me" />
        </div>
    </div>

    <p class="container">Projects.</p>
    <div class="cards-container">
        <div *ngFor="let card of cards" class="card">
            <div class="card-img"><img src="{{ card.image }}" /></div>
            <div class="card-info">
                <p class="text-title">{{ card.title }}</p>
                <p class="text-body">{{ card.description }}</p>
                <p class="text-tools">Tools :</p>
                <span>{{ card.tools }}</span>
            </div>
            <div class="card-footer">
                <div class="card-button">
                    <button class="cssbuttons-io" (click)="redirectToCardLink(card.link)">
                        <span
                            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path
                                    fill="currentColor"
                                    d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z"
                                ></path>
                            </svg>
                            Code</span
                        >
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
